# ==================================
# Nexill 1.2.3 Master Git Ignore
# ==================================

# 🔴 Core Build Outputs (The massive files we don't want tracked!)
[Bb]in/
[Oo]bj/
artifacts/
AppPackages/
*.msixupload
*.msixbundle
*.appxsym

# 🔴 Visual Studio Hidden Caches
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo

# 🔴 ReSharper / IDE toolings
_ReSharper*/
*.[Rr]e[Ss]harper
.idea/

# 🔴 OS Generated Junk
Thumbs.db
Desktop.ini
